<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="练习项目" name="description" />
    <meta content="Hao.Li" name="author" />
    @Styles.Render("~/Admin/Init")
    @RenderSection("Styles", false)

    <link rel="shortcut icon" href="~/Theme/image/favicon.ico" />

</head>
<body class="page-header-fixed page-sidebar-fixed">
    @Html.Action("Header", "Home")
    <div class="page-container">
        @Html.Action("NavLeft", "Home")
        <div class="page-content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <div class="color-panel hidden-phone">
                            <div class="color-mode-icons icon-color"></div>
                            <div class="color-mode-icons icon-color-close"></div>
                            <div class="color-mode">
                                <p>主题颜色</p>
                                <ul class="inline">

                                    <li class="color-black current color-default" data-style="default"></li>

                                    <li class="color-blue" data-style="blue"></li>

                                    <li class="color-brown" data-style="brown"></li>

                                    <li class="color-purple" data-style="purple"></li>

                                    <li class="color-grey" data-style="grey"></li>

                                    <li class="color-white color-light" data-style="light"></li>

                                </ul>
                                <label>

                                    <span>视图</span>

                                    <select class="layout-option m-wrap small">

                                        <option value="fluid" selected>固定</option>

                                        <option value="boxed">Boxed</option>

                                    </select>

                                </label>
                                <label>

                                    <span>头部</span>

                                    <select class="header-option m-wrap small">

                                        <option value="fixed" selected>固定</option>

                                        <option value="default">默认</option>

                                    </select>

                                </label>
                                <label>

                                    <span>侧边栏</span>

                                    <select class="sidebar-option m-wrap small">

                                        <option value="fixed">固定</option>

                                        <option value="default" selected>默认</option>

                                    </select>

                                </label>
                                <label>

                                    <span>页脚</span>

                                    <select class="footer-option m-wrap small">

                                        <option value="fixed">固定</option>

                                        <option value="default" selected>默认</option>

                                    </select>

                                </label>
                            </div>
                        </div>
                        <h3 class="page-title">
                            @ViewBag.Title <small></small>
                        </h3>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">@ViewBag.Title</a>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">仪表盘</a></li>
                        </ul>
                    </div>
                </div>
                <div id="dashboard">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Action("Footer", "Home")

    @Scripts.Render("~/Scripts/Init")
    <script>

        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins
        });

    </script>
    @RenderSection("Scripts", false)
</body>
</html>