<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<html lang="en" class="no-js">
<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="练习项目" name="description" />
    <meta content="Hao.Li" name="author" />
    @Styles.Render("~/Admin/Init")
    @RenderSection("Styles", false)

    <link rel="shortcut icon" href="~/Theme/image/favicon.ico" />

</head>
<body class="page-header-fixed page-sidebar-fixed">
    @Html.Action("Header", "Home")
    <div class="page-container">
        @Html.Action("NavLeft", "Home")
        <div class="page-content">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <h3 class="page-title">
                            @ViewBag.Title <small></small>
                        </h3>
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="index.html">@ViewBag.Title</a>
                                <i class="icon-angle-right"></i>
                            </li>
                            <li><a href="#">@ViewBag.SmallTitle</a></li>
                        </ul>
                    </div>
                </div>
                <div id="dashboard">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @Html.Action("Footer", "Home")

    @Scripts.Render("~/Scripts/Init")
    <script>

        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins
        });

    </script>
    @RenderSection("Scripts", false)
</body>
</html>